@{
    ViewBag.Title = "User Profile";
    Layout = "~/Views/Shared/_JobBoardLayout.cshtml";
}

@section head{
    <link href="~/Template/css/main.css" rel="stylesheet" />
}

<section class=" job-bg page  ad-profile-page">
    <div class="container">
        <div class="breadcrumb-section">
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>Applied Job</li>
            </ol>
            <h2 class="title">Company Profile</h2>
        </div>
        <!-- breadcrumb-section -->

        <div class="job-profile section">
            <div class="user-profile">
                <div class="user-images">
                    <img src="~/Template/images/user.jpg" alt="User Images" class="img-responsive">
                </div>
                <div class="user">
                    <h2>
                        Hello,
                        <a href="#">[Company Name]</a>
                    </h2>
                    <h5>You last logged in at: 10-01-2017 6:40 AM [ USA time (GMT + 6:00hrs)]</h5>
                </div>

                <div class="favorites-user">
                    <div class="my-ads">
                        <a href="applied-job.html">
                            29
                            <small>Recent Jobs</small>
                        </a>
                    </div>
                    <div class="favorites">
                        <a href="bookmark.html">
                            18
                            <small>Archived Jobs</small>
                        </a>
                    </div>
                </div>
            </div>
            <!-- user-profile -->

            <ul class="user-menu">
                <li>
                    <a href="profile.html">Company Details</a>
                </li>
                <li>
                    <a href="resume.html">Recent Jobs</a>
                </li>
                <li>
                    <a href="edit-resume.html">Archived Jobs</a>
                </li>
                <li>
                    <a href="profile-details.html">Users Applications</a>
                </li>
            </ul>
        </div>
        <!-- ad-profile -->

        <div class="section trending-ads latest-jobs-ads">
            @RenderBody()
        </div>
        <!-- container -->
    </div>
</section>

