@model Cevehat.Web.Models.ApplicationUser
@{
    ViewBag.Title = "Profil Page";
}

<h2>@ViewBag.Title.</h2>
@Model.Email
<br />
<a href="@Url.Action("Index","About")">About</a>
<br />
<a href="@Url.Action("Create","Education")">Educations</a>