
@model  Cevehat.Web.Models.Skill
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_JobBoardLayout.cshtml";
}
@*<h2>Show Skill</h2>*@
@*ListOfJobTitles:@Model.Title*@
@Html.Partial("~/Views/AutoCompletee/search.cshtml", null)