
@model  Cevehat.Web.Models.Skill
@{
    ViewBag.Title = "Index";
    Layout = "~/Template/_ProfileLayout.cshtml";
}

<h2>Show Skill</h2>
@*ListOfJobTitles:@Model.Title*@

<script src="~/Scripts/jquery-1.10.2.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<div>
    <label>Skill Search</label>
    <input class="form-control" id="searchInput" />
</div>
<script>
    $("#searchInput").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: '@Url.Action("GetAutoCompleteSkillTitle", "AutoCompletee")',
                dataType: "json",
                data: { search: $("#searchInput").val() },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.Name, value: item.Name };
                    }));
                },
                error: function (xhr, status, error) {
                    alert("Error");
                }
            });
        }
    });
</script>

