@model  Cevehat.Web.Models.JobTitle
@{
    ViewBag.Title = "GetSkillsJobTitle";
}

<h2>GetSkillsJobTitle</h2>   
    <div class="form-group">
        @Html.LabelFor(a=>a.JobName,new { @class="col-sm-2 label-control"})
    
        <div class="col-sm-6">
            @Html.DropDownListFor(a=>a.JobName,ViewBag.JobID as SelectList,new { @class="form-control"})
        </div>

        <div>
            @Ajax.ActionLink("GetSkills","GetSkills","SkillsJobTitle",new { id=Model.JobId},new AjaxOptions() {
           UpdateTargetId="div1",
           InsertionMode=InsertionMode.Replace,
       },new { @class="btn btn-primary"})
            </div>
    </div>
<div id="div1">
    eman
    </div>

@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}