
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_JobBoardLayout.cshtml";
}

@section head{

    <!-- Owl Carousel -->
    <link href="~/Template/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/Template/css/owl.theme.css" rel="stylesheet">
    <link href="~/Template/css/owl.transitions.css" rel="stylesheet">
    <!-- Owl Carousel -->
    <!-- Form Slider -->
    <link rel="stylesheet" href="~/Template/css/jslider.css" type="text/css">
    <link rel="stylesheet" href="~/Template/css/jslider.round.css" type="text/css">
    <!-- Form Slider -->
}

<div class="main-slider">
    <!-- start main-headline section -->
    <div class="slider-nav">
        <a class="slider-prev">
            <i class="fa fa-chevron-circle-left"></i>
        </a>
        <a class="slider-next">
            <i class="fa fa-chevron-circle-right"></i>
        </a>
    </div>
    <div id="home-slider" class="owl-carousel owl-theme">
        <div class="item-slide">
            <img src="~/Template/images/upload/dummy-slide-1.jpg" class="img-responsive" alt="dummy-slide" />
        </div>
        <div class="item-slide">
            <img src="~/Template/images/upload/dummy-slide-2.jpg" class="img-responsive" alt="dummy-slide" />
        </div>
    </div>
</div>
<!-- end main-headline section -->


<div class="headline container">
    <!-- start headline section -->
    <div class="row">
        <div class="col-md-6 align-right">
            <h4>Easiest Way To Find Your Dream Job</h4>
            <p>
                It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout. The point of using
            </p>
            <p>
                <a href="" class="btn btn-default btn-yellow">Find a Job</a>
            </p>
        </div>
        <div class="col-md-6 align-left">
            <h4>Hire Skilled People, best of them</h4>
            <p>
                It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout. The point of using
            </p>
            <p>
                <a href="" class="btn btn-default btn-light">Post a Job</a>
            </p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- end headline section -->


@section Scripts{
    <!-- Tabs -->
    <script src="~/Template/js/tabs/jquery.easytabs.min.js"></script>
    <script src="~/Template/js/tabs/modernizr.custom.49511.js"></script>
    <!-- Tabs -->
    <!-- Owl Carousel -->
    <script src="~/Template/js/carousel/owl.carousel.js"></script>
    <!-- Owl Carousel -->
    <!-- Form Slider -->
    <script type="text/javascript" src="~/Template/js/slider/jshashtable-2.1_src.js"></script>
    <script type="text/javascript" src="~/Template/js/slider/jquery.numberformatter-1.2.3.js"></script>
    <script type="text/javascript" src="~/Template/js/slider/tmpl.js"></script>
    <script type="text/javascript" src="~/Template/js/slider/jquery.dependClass-0.1.js"></script>
    <script type="text/javascript" src="~/Template/js/slider/draggable-0.1.js"></script>
    <script type="text/javascript" src="~/Template/js/slider/jquery.slider.js"></script>
    <!-- Form Slider -->
    <!-- Map -->
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <!-- Map -->
}
