@Model JopSkills
@{
    ViewBag.Title = "JopSkill";
}

<h2>JopSkill</h2>

<form method="post" class="form-horizontal">
    @*<div class="form-group">
        @Html.LabelFor(a => a., new { @class = "col-sm-2 label-control" })
        <div class="col-sm-6">
            @Html.DropDownListFor(a => a.Skill_Id, null, new { @class = "form-control" })*@

        @*</div>
    </div>*@
    </form>

