@using Cevehat.Web.Models
@model ApplicationUser
@{
    ViewBag.Title = "MySkills";
    Layout = "~/Views/Shared/_JB_UserProfileLayout.cshtml";
    Page.PageTitle = "My Skills";
    Page.UserName = Model.Fname + " " + Model.Lname;
    Page.EditMode = false;
    Page.JobsCount = Model.ApplayedUsers.Count;
}

<div class="section">
    @using (Html.BeginForm(FormMethod.Post))
    {
        <div class="row">
            <div class="form-group col-4">
                <label for="email">Choose A Skill</label>
                @Html.DropDownList("SkillId", ViewBag.Skills as IEnumerable<SelectListItem>, new { @class="form-control" })
            </div>
            <div class="form-group col-2">
                <input type="submit" class="btn btn-outline-primary" value="Add Skill" />
            </div>
        </div>

    }
</div>