@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (ViewBag.displayMenu == "Yes")
{
    <h1>Welcome Admin. Now you check all Roles on system</h1>

}
else
{
    <h2>  Welcome <strong>@ViewBag.Name</strong> :) .We will add user module soon </h2>
}
