@model  IEnumerable<Cevehat.Web.Models.Skill>
@{
    ViewBag.Title = "GetAutoCompleteSkillTitle";
    Layout = "~/Template/_ProfileLayout.cshtml";
}

<ul>
    @foreach (var item in Model)
    {
        <li> @item.Title </li>
    }
</ul>

