@model Cevehat.Web.Models.Skill
@{
    ViewBag.Title = "ShowSkill";
    Layout = "~/Template/_ProfileLayout.cshtml";
}

<h2>ShowSkill</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.skill.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.skill.Title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
