@model Cevehat.Web.Models.Skills

<div>
    <h4>Skills</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Skill_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Skill_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Skill_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
