<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Job Board</title>
    <!-- Bootstrap -->
    <link href="./Job Board_files/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap -->
    <!-- Main Style -->
    <link href="./Job Board_files/style.css" rel="stylesheet">
    <!-- Main Style -->
    <!-- fonts -->
    <link href="./Job Board_files/css" rel="stylesheet" type="text/css">
    <link href="./Job Board_files/css(1)" rel="stylesheet" type="text/css">
    <link href="./Job Board_files/font-awesome.css" rel="stylesheet" type="text/css">
    <!-- fonts -->
    <!-- Owl Carousel -->
    <link href="./Job Board_files/owl.carousel.css" rel="stylesheet">
    <link href="./Job Board_files/owl.theme.css" rel="stylesheet">
    <link href="./Job Board_files/owl.transitions.css" rel="stylesheet">
    <!-- Owl Carousel -->
    <!-- Form Slider -->
    <link rel="stylesheet" href="./Job Board_files/jslider.css" type="text/css">
    <link rel="stylesheet" href="./Job Board_files/jslider.round.css" type="text/css">
    <!-- Form Slider -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" charset="UTF-8" src="./Job Board_files/common.js.download"></script>
    <script type="text/javascript" charset="UTF-8" src="./Job Board_files/util.js.download"></script>
    <script type="text/javascript" charset="UTF-8" src="./Job Board_files/stats.js.download"></script>
</head>
<body style="">
    <div id="wrapper">
        <!-- start main wrapper -->
        <div id="header">
            <!-- start main header -->
            <div class="top-line">&nbsp;</div>
            <div class="top">
                <!-- top -->
                <div class="container">
                    <div class="media-top-right">
                        <ul class="media-top clearfix">
                            <li class="item"><a href="http://demo.minimalthemes.net/jobboard-static/index.html" target="blank"><i class="fa fa-twitter"></i></a></li>
                            <li class="item"><a href="http://demo.minimalthemes.net/jobboard-static/index.html" target="blank"><i class="fa fa-facebook"></i></a></li>
                            <li class="item"><a href="http://demo.minimalthemes.net/jobboard-static/index.html" target="blank"><i class="fa fa-linkedin"></i></a></li>
                            <li class="item"><a href="http://demo.minimalthemes.net/jobboard-static/index.html" target="blank"><i class="fa fa-rss"></i></a></li>
                            <li class="item"><a href="http://demo.minimalthemes.net/jobboard-static/index.html" target="blank"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                        <ul class="media-top-2 clearfix">
                            <li><a href="http://demo.minimalthemes.net/jobboard-static/index.html" class="btn btn-default btn-blue btn-sm">REGISTER</a></li>
                            <li><a href="http://demo.minimalthemes.net/jobboard-static/index.html" class="btn btn-default btn-green btn-sm">LOG IN</a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div><!-- top -->
            <div class="container">
                <!-- container -->
                <div class="row">
                    <div class="col-md-4">
                        <!-- logo -->
                        <a href="http://demo.minimalthemes.net/jobboard-static/index.html" title="Job Board" rel="home">
                            <img class="main-logo" src="./Job Board_files/logo.png" alt="job board">
                        </a>
                    </div><!-- logo -->
                    <div class="col-md-8 main-nav">
                        <!-- Main Navigation -->
                        <a id="touch-menu" class="mobile-menu" href="http://demo.minimalthemes.net/jobboard-static/index.html#"><i class="fa fa-bars fa-2x"></i></a>
                        <nav>
                            <ul class="menu">
                                <li>
                                    <a href="http://demo.minimalthemes.net/jobboard-static/index.html">HOME</a>
                                    <ul class="sub-menu">
                                        <li><a href="http://demo.minimalthemes.net/jobboard-static/about.html">About Page</a></li>
                                        <li><a href="http://demo.minimalthemes.net/jobboard-static/blog.html">Blog Page</a></li>
                                        <li><a href="http://demo.minimalthemes.net/jobboard-static/detail-blog.html">Single Blog Page</a></li>
                                        <li><a href="http://demo.minimalthemes.net/jobboard-static/job-detail.html">Single Job Page</a></li>
                                        <li><a href="http://demo.minimalthemes.net/jobboard-static/homepage-joblisting.html">Job Listing</a></li>
                                        <li><a href="http://demo.minimalthemes.net/jobboard-static/contact.html">Contact</a></li>
                                        <li><a href="http://demo.minimalthemes.net/jobboard-static/register.html">Register Page</a></li>
                                        <li><a href="http://demo.minimalthemes.net/jobboard-static/signin.html">Login Page</a></li>
                                        <li><a href="http://demo.minimalthemes.net/jobboard-static/short-codes.html">Short Code</a></li>
                                        <li><a href="http://demo.minimalthemes.net/jobboard-static/post-job.html">Post a Job</a></li>
                                        <li><a href="http://demo.minimalthemes.net/jobboard-static/post-resume.html">Post a Resume</a></li>
                                    </ul>
                                </li>
                                <li><a href="http://demo.minimalthemes.net/jobboard-static/index.html#">JOB SEARCH</a></li>
                                <li><a href="http://demo.minimalthemes.net/jobboard-static/post-job.html">POST A JOB</a></li>
                                <li><a href="http://demo.minimalthemes.net/jobboard-static/post-resume.html">POST A RESUME</a></li>
                                <li><a href="http://demo.minimalthemes.net/jobboard-static/index.html#">PRICING</a></li>
                                <li><a href="http://demo.minimalthemes.net/jobboard-static/short-codes.html">SHORTCODE</a></li>
                            </ul>
                        </nav>
                    </div><!-- Main Navigation -->
                    <div class="clearfix"></div>
                </div>
            </div><!-- container -->
        </div><!-- end main header -->

        <div class="main-slider">
            <!-- start main-headline section -->
            <div class="slider-nav">
                <a class="slider-prev"><i class="fa fa-chevron-circle-left"></i></a>
                <a class="slider-next"><i class="fa fa-chevron-circle-right"></i></a>
            </div>
            <div id="home-slider" class="owl-carousel owl-theme" style="display: block; opacity: 1;">
                <div class="owl-wrapper-outer">
                    <div class="owl-wrapper" style="width: 5052px; left: 0px; display: block; transition: all 0ms ease; transform: translate3d(-1263px, 0px, 0px); transform-origin: 1894.5px center 0px; perspective-origin: 1894.5px center;">
                        <div class="owl-item" style="width: 1263px;">
                            <div class="item-slide">
                                <img src="./Job Board_files/dummy-slide-1.jpg" class="img-responsive" alt="dummy-slide">
                            </div>
                        </div><div class="owl-item" style="width: 1263px;">
                            <div class="item-slide">
                                <img src="./Job Board_files/dummy-slide-2.jpg" class="img-responsive" alt="dummy-slide">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div><!-- end main-headline section -->

        <div class="headline container">
            <!-- start headline section -->
            <div class="row">
                <div class="col-md-6 align-right">
                    <h4>Easiest Way To Find Your Dream Job</h4>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using</p>
                    <p><a href="http://demo.minimalthemes.net/jobboard-static/index.html" class="btn btn-default btn-yellow">Find a Job</a></p>
                </div>
                <div class="col-md-6 align-left">
                    <h4>Hire Skilled People, best of them</h4>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using</p>
                    <p><a href="http://demo.minimalthemes.net/jobboard-static/index.html" class="btn btn-default btn-light">Post a Job</a></p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div><!-- end headline section -->

        <div class="job-finder">
            <!-- start job finder -->
            <div class="container">
                <h3>Find a Job</h3>
                <form>
                    <div class="col-md-7 form-group group-1">
                        <label for="searchjob" class="label">Search</label>
                        <input type="text" id="searchjob" class="input-job" placeholder="Keywords (IT Engineer, Shop Manager, Hr Manager...)">
                    </div>
                    <div class="col-md-5 form-group group-2">
                        <label for="searchplace" class="label">Location</label>
                        <input type="text" id="searchplace" class="input-location" placeholder="New York, Hong Kong, New Delhi, Berlin etc.">
                    </div>


                    <div class="form-group">
                        <label for="experiences" class="label clearfix">Experiences(-/+)</label>
                        <input id="experiences" class="value-slider" type="text" name="area" value="1;1" style="display: none;"><span class="jslider jslider_round jslider-limitless"><table><tbody><tr><td><div class="jslider-bg"><i class="l"></i><i class="f"></i><i class="r"></i><i class="v" style="left: 0%; width: 0%;"></i></div><div class="jslider-pointer" style="left: 0%;"></div><div class="jslider-pointer jslider-pointer-to" style="left: 0%;"></div><div class="jslider-label"><span>1</span></div><div class="jslider-label jslider-label-to"><span>10</span></div><div class="jslider-value" style="visibility: hidden; left: 0%; margin-left: 0px; right: auto;"><span>1</span></div><div class="jslider-value jslider-value-to" style="visibility: visible; left: 0%; margin-left: 0px; right: auto;"><span>1</span></div><div class="jslider-scale"><span style="left: 0%"><ins style="margin-left: -2.5px;">1</ins></span><span style="left: 11.1%"><ins style="margin-left: -2.5px;">2</ins></span><span style="left: 22.2%"><ins style="margin-left: -2.5px;">3</ins></span><span style="left: 33.3%"><ins style="margin-left: -2.5px;">4</ins></span><span style="left: 44.4%"><ins style="margin-left: -2.5px;">5</ins></span><span style="left: 55.5%"><ins style="margin-left: -2.5px;">6</ins></span><span style="left: 66.6%"><ins style="margin-left: -2.5px;">7</ins></span><span style="left: 77.7%"><ins style="margin-left: -2.5px;">8</ins></span><span style="left: 88.8%"><ins style="margin-left: -2.5px;">9</ins></span><span style="left: 99.89999999999999%"><ins style="margin-left: -5px;">10</ins></span></div></td></tr></tbody></table></span>
                    </div>
                    <div class="clearfix"></div>
                    <br>
                    <div class="form-group">
                        <label for="salary" class="label clearfix">Salary ($)/per year</label>
                        <input id="salary" class="value-slider" type="text" name="area" value="0;0" style="display: none;"><span class="jslider jslider_round jslider-limitless"><table><tbody><tr><td><div class="jslider-bg"><i class="l"></i><i class="f"></i><i class="r"></i><i class="v" style="left: 0%; width: 0%;"></i></div><div class="jslider-pointer" style="left: 0%;"></div><div class="jslider-pointer jslider-pointer-to" style="left: 0%;"></div><div class="jslider-label"><span>0</span></div><div class="jslider-label jslider-label-to"><span>500</span>K</div><div class="jslider-value" style="visibility: hidden; left: 0%; margin-left: 0px; right: auto;"><span>0</span>K</div><div class="jslider-value jslider-value-to" style="visibility: visible; left: 0%; margin-left: 0px; right: auto;"><span>0</span>K</div><div class="jslider-scale"><span style="left: 0%"><ins style="margin-left: -2.5px;">0</ins></span><span style="left: 12.5%"></span><span style="left: 25%"><ins style="margin-left: -5px;">50</ins></span><span style="left: 37.5%"></span><span style="left: 50%"><ins style="margin-left: -7.5px;">100</ins></span><span style="left: 62.5%"></span><span style="left: 75%"><ins style="margin-left: -7.5px;">250</ins></span><span style="left: 87.5%"></span><span style="left: 100%"><ins style="margin-left: -7.5px;">500</ins></span></div></td></tr></tbody></table></span>
                        <div class="clearfix"></div>
                    </div>
                    <button type="button" class="btn btn-default btn-green">search</button>
                </form>
            </div>
        </div><!-- end job finder -->

        <div class="recent-job">
            <!-- Start Recent Job -->
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h4><i class="glyphicon glyphicon-briefcase"></i> Recent Job</h4>
                        <div id="tab-container" class="tab-container" data-easytabs="true">
                            <!-- Start Tabs -->
                            <ul class="etabs clearfix">
                                <li class="tab active"><a href="http://demo.minimalthemes.net/jobboard-static/index.html#all" class="active">All</a></li>
                                <li class="tab"><a href="http://demo.minimalthemes.net/jobboard-static/index.html#contract" class="">Contract</a></li>
                                <li class="tab"><a href="http://demo.minimalthemes.net/jobboard-static/index.html#full" class="">Full Time</a></li>
                                <li class="tab"><a href="http://demo.minimalthemes.net/jobboard-static/index.html#free" class="">Freelence</a></li>
                            </ul>
                            <div class="panel-container" style="">
                                <div id="all" class="active" style="display: block;">
                                    <!-- Tabs section 1 -->

                                    <div class="recent-job-list-home">
                                        <!-- Tabs content -->
                                        <div class="job-list-logo col-md-1 ">
                                            <img src="./Job Board_files/company-2-post.png" class="img-responsive" alt="dummy-joblist">
                                        </div>
                                        <div class="col-md-6 job-list-desc">
                                            <h6>Store General Manager</h6>
                                            <p>Similique sunt in culpa qui officia deserunt mollitia animi</p>
                                        </div>
                                        <div class="col-md-5 full">
                                            <div class="row">
                                                <div class="job-list-location col-md-7 ">
                                                    <h6><i class="fa fa-map-marker"></i>San Fransisco</h6>
                                                </div>
                                                <div class="job-list-type col-md-5 ">
                                                    <h6><i class="fa fa-user"></i>Full Time</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div><!-- Tabs content -->

                                    <div class="recent-job-list-home">
                                        <!-- Tabs content -->
                                        <div class="job-list-logo col-md-1 ">
                                            <img src="./Job Board_files/company-1-post.png" class="img-responsive" alt="dummy-joblist">
                                        </div>
                                        <div class="col-md-6 job-list-desc">
                                            <h6>Department Head</h6>
                                            <p>Similique sunt in culpa qui officia deserunt mollitia animi</p>
                                        </div>
                                        <div class="col-md-5 full">
                                            <div class="row">
                                                <div class="job-list-location col-md-7 ">
                                                    <h6><i class="fa fa-map-marker"></i>Denver</h6>
                                                </div>
                                                <div class="job-list-type col-md-5 ">
                                                    <h6><i class="fa fa-user"></i>Full Time</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div><!-- Tabs content -->

                                    <div class="recent-job-list-home">
                                        <!-- Tabs content -->
                                        <div class="job-list-logo col-md-1 ">
                                            <img src="./Job Board_files/company-2-post.png" class="img-responsive" alt="dummy-joblist">
                                        </div>
                                        <div class="col-md-6 job-list-desc">
                                            <h6>Marketing</h6>
                                            <p>Similique sunt in culpa qui officia deserunt mollitia animi</p>
                                        </div>
                                        <div class="col-md-5 full">
                                            <div class="row">
                                                <div class="job-list-location col-md-7 ">
                                                    <h6><i class="fa fa-map-marker"></i>Washington</h6>
                                                </div>
                                                <div class="job-list-type col-md-5 ">
                                                    <h6><i class="fa fa-user"></i>Part Time</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div><!-- Tabs content -->

                                    <div class="recent-job-list-home">
                                        <!-- Tabs content -->
                                        <div class="job-list-logo col-md-1 ">
                                            <img src="./Job Board_files/company-1-post.png" class="img-responsive" alt="dummy-joblist">
                                        </div>
                                        <div class="col-md-6 job-list-desc">
                                            <h6>General Manager</h6>
                                            <p>Similique sunt in culpa qui officia deserunt mollitia animi</p>
                                        </div>
                                        <div class="col-md-5 full">
                                            <div class="row">
                                                <div class="job-list-location col-md-7 ">
                                                    <h6><i class="fa fa-map-marker"></i>New York</h6>
                                                </div>
                                                <div class="job-list-type col-md-5 ">
                                                    <h6><i class="fa fa-user"></i>Full Time</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div><!-- Tabs content -->

                                    <div class="recent-job-list-home">
                                        <!-- Tabs content -->
                                        <div class="job-list-logo col-md-1 ">
                                            <img src="./Job Board_files/company-2-post.png" class="img-responsive" alt="dummy-joblist">
                                        </div>
                                        <div class="col-md-6 job-list-desc">
                                            <h6>Creative Designer</h6>
                                            <p>Similique sunt in culpa qui officia deserunt mollitia animi</p>
                                        </div>
                                        <div class="col-md-5 full">
                                            <div class="row">
                                                <div class="job-list-location col-md-7 ">
                                                    <h6><i class="fa fa-map-marker"></i>Los Angeles</h6>
                                                </div>
                                                <div class="job-list-type col-md-5 ">
                                                    <h6><i class="fa fa-user"></i>Full Time</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div><!-- Tabs content -->

                                    <div class="recent-job-list-home">
                                        <!-- Tabs content -->
                                        <div class="job-list-logo col-md-1 ">
                                            <img src="./Job Board_files/company-1-post.png" class="img-responsive" alt="dummy-joblist">
                                        </div>
                                        <div class="col-md-6 job-list-desc">
                                            <h6>Finance Head</h6>
                                            <p>Similique sunt in culpa qui officia deserunt mollitia animi</p>
                                        </div>
                                        <div class="col-md-5 full">
                                            <div class="row">
                                                <div class="job-list-location col-md-7 ">
                                                    <h6><i class="fa fa-map-marker"></i>Texas</h6>
                                                </div>
                                                <div class="job-list-type col-md-5 ">
                                                    <h6><i class="fa fa-user"></i>Full Time</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div><!-- Tabs content -->

                                </div><!-- Tabs section 1 -->
                                <div id="contract" class="" style="position: static; visibility: visible; display: none;">
                                    <!-- Tabs section 2 -->


                                </div><!-- Tabs section 2 -->
                                <div id="full" class="" style="position: static; visibility: visible; display: none;">
                                    <!-- Tabs section 3 -->

                                </div><!-- Tabs section 3 -->
                                <div id="free" class="" style="position: static; visibility: visible; display: none;">
                                    <!-- Tabs section 4 -->


                                </div><!-- Tabs section 4 -->

                            </div>
                        </div><!-- end Tabs -->
                        <div class="spacer-2"></div>
                    </div>

                    <div class="col-md-4">
                        <div id="job-opening">
                            <div class="job-opening-top">
                                <div class="job-oppening-title">Top Job Opening</div>
                                <div class="job-opening-nav">
                                    <a class="btn prev"></a>
                                    <a class="btn next"></a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <br>
                            <div id="job-opening-carousel" class="owl-carousel owl-theme" style="display: block; opacity: 1;">

                                <div class="owl-wrapper-outer">
                                    <div class="owl-wrapper" style="width: 2220px; left: 0px; display: block; transition: all 800ms ease; transform: translate3d(-740px, 0px, 0px);">
                                        <div class="owl-item" style="width: 370px;">
                                            <div class="item-home">
                                                <div class="job-opening">
                                                    <img src="./Job Board_files/dummy-job-open-1.png" class="img-responsive" alt="dummy-job-opening">

                                                    <div class="job-opening-content">
                                                        HR Manager
                                                        <p>
                                                            Place for worlds best shipping company and work with great level efficiency to break trough in new career.
                                                        </p>
                                                    </div>

                                                    <div class="job-opening-meta clearfix">
                                                        <div class="meta-job-location meta-block"><i class="fa fa-map-marker"></i>San Fransisco</div>
                                                        <div class="meta-job-type meta-block"><i class="fa fa-user"></i>Full Time</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><div class="owl-item" style="width: 370px;">
                                            <div class="item-home">
                                                <div class="job-opening">
                                                    <img src="./Job Board_files/dummy-job-open-2.png" class="img-responsive" alt="dummy-job-opening">

                                                    <div class="job-opening-content">
                                                        Head Shop Manager
                                                        <p>
                                                            Place for worlds best shipping company and work with great level efficiency to break trough in new career.
                                                        </p>
                                                    </div>

                                                    <div class="job-opening-meta clearfix">
                                                        <div class="meta-job-location meta-block"><i class="fa fa-map-marker"></i>Denver</div>
                                                        <div class="meta-job-type meta-block"><i class="fa fa-user"></i>Full Time</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><div class="owl-item" style="width: 370px;">
                                            <div class="item-home">
                                                <div class="job-opening">
                                                    <img src="./Job Board_files/dummy-job-open-1.png" class="img-responsive" alt="dummy-job-opening">

                                                    <div class="job-opening-content">
                                                        Head Shop Manager
                                                        <p>
                                                            Place for worlds best shipping company and work with great level efficiency to break trough in new career.
                                                        </p>
                                                    </div>

                                                    <div class="job-opening-meta clearfix">
                                                        <div class="meta-job-location meta-block"><i class="fa fa-map-marker"></i>San Fransisco</div>
                                                        <div class="meta-job-type meta-block"><i class="fa fa-user"></i>Washington</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>




                                <div class="owl-controls"><div class="owl-pagination"><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page active"><span class=""></span></div></div></div>
                            </div>
                        </div>
                        <div class="post-resume-title">Post Your Resume</div>
                        <div class="post-resume-container">
                            <button type="button" class="post-resume-button">Upload Your Resume<i class="icon-upload grey"></i></button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div><!-- end Recent Job -->
    
         <div class="job-status">
            <div class="container">
                <h1>Jobs Stats Updates</h1>
                <p>
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.
                </p>
                <div class="counter clearfix">
                    <div class="counter-container">
                        <div class="counter-value">125</div>
                        <div class="line"></div>
                        <p>job posted</p>
                    </div>


                    <div class="counter-container">
                        <div class="counter-value">50</div>
                        <div class="line"></div>
                        <p>possition Filled</p>
                    </div>

                    <div class="counter-container">
                        <div class="counter-value">75</div>
                        <div class="line"></div>
                        <p>Companies</p>
                    </div>

                    <div class="counter-container">
                        <div class="counter-value">85</div>
                        <div class="line"></div>
                        <p>Members</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="step-to">
            <div class="container">
                <h1>Easiest Way To Use</h1>
                <p>
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas mo
                </p>

                <div class="step-spacer"></div>
                <div id="step-image">
                    <div class="step-by-container">
                        <div class="step-by">
                            First Step
                            <div class="step-by-inner">
                                <div class="step-by-inner-img">
                                    <img src="./Job Board_files/step-icon-1.png" alt="step">
                                </div>
                            </div>
                            <h5>Register with us</h5>
                        </div>

                        <div class="step-by">
                            Second Step
                            <div class="step-by-inner">
                                <div class="step-by-inner-img">
                                    <img src="./Job Board_files/step-icon-2.png" alt="step">
                                </div>
                            </div>
                            <h5>Create your profile</h5>
                        </div>

                        <div class="step-by">
                            Third Step
                            <div class="step-by-inner">
                                <div class="step-by-inner-img">
                                    <img src="./Job Board_files/step-icon-3.png" alt="step">
                                </div>
                            </div>
                            <h5>Upload your resume</h5>
                        </div>

                        <div class="step-by">
                            Now it's our turn
                            <div class="step-by-inner">
                                <div class="step-by-inner-img">
                                    <img src="./Job Board_files/step-icon-4.png" alt="step">
                                </div>
                            </div>
                            <h5>Now take rest :)</h5>
                        </div>

                    </div>
                </div>
                <div class="step-spacer"></div>
            </div>
        </div>
    
    <div class="testimony">
            <div class="container">
                <h1>What People Say About Us</h1>
                <p>
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas mo
                </p>

            </div>
            <div id="sync2" class="owl-carousel owl-theme" style="display: block; opacity: 1;">
                <div class="owl-wrapper-outer">
                    <div class="owl-wrapper" style="width: 2800px; left: 0px; display: block;">
                        <div class="owl-item synced" style="width: 140px;">
                            <div class="testimony-image">
                                <img src="./Job Board_files/testimony-image-1.jpg" class="img-responsive" alt="testimony">
                            </div>
                        </div><div class="owl-item" style="width: 140px;">
                            <div class="testimony-image">
                                <img src="./Job Board_files/testimony-image-2.jpg" class="img-responsive" alt="testimony">
                            </div>
                        </div><div class="owl-item" style="width: 140px;">
                            <div class="testimony-image">
                                <img src="./Job Board_files/testimony-image-3.jpg" class="img-responsive" alt="testimony">
                            </div>
                        </div><div class="owl-item" style="width: 140px;">
                            <div class="testimony-image">
                                <img src="./Job Board_files/testimony-image-4.jpg" class="img-responsive" alt="testimony">
                            </div>
                        </div><div class="owl-item" style="width: 140px;">
                            <div class="testimony-image">
                                <img src="./Job Board_files/testimony-image-5.jpg" class="img-responsive" alt="testimony">
                            </div>
                        </div><div class="owl-item" style="width: 140px;">
                            <div class="testimony-image">
                                <img src="./Job Board_files/testimony-image-6.jpg" class="img-responsive" alt="testimony">
                            </div>
                        </div><div class="owl-item" style="width: 140px;">
                            <div class="testimony-image">
                                <img src="./Job Board_files/testimony-image-7.jpg" class="img-responsive" alt="testimony">
                            </div>
                        </div><div class="owl-item" style="width: 140px;">
                            <div class="testimony-image">
                                <img src="./Job Board_files/testimony-image-8.jpg" class="img-responsive" alt="testimony">
                            </div>
                        </div><div class="owl-item" style="width: 140px;">
                            <div class="testimony-image">
                                <img src="./Job Board_files/testimony-image-9.jpg" class="img-responsive" alt="testimony">
                            </div>
                        </div><div class="owl-item" style="width: 140px;">
                            <div class="testimony-image">
                                <img src="./Job Board_files/testimony-image-10.jpg" class="img-responsive" alt="testimony">
                            </div>
                        </div>
                    </div>
                </div>










            </div>

            <div id="sync1" class="owl-carousel owl-theme" style="display: block; opacity: 1;">
                <div class="owl-wrapper-outer">
                    <div class="owl-wrapper" style="width: 25260px; left: 0px; display: block;">
                        <div class="owl-item" style="width: 1263px;">
                            <div class="testimony-content container">
                                <p>
                                    "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum .

                                </p>
                                <p>
                                    John Grasin, CEO, IT-Planet
                                </p>
                                <div class="media-testimony">
                                    <a href="http://demo.minimalthemes.net/jobboard-static/index.html" target="blank"><i class="fa fa-twitter twit"></i></a>
                                    <a href="http://demo.minimalthemes.net/jobboard-static/index.html" target="blank"><i class="fa fa-linkedin linkedin"></i></a>
                                    <a href="http://demo.minimalthemes.net/jobboard-static/index.html" target="blank"><i class="fa fa-facebook fb"></i></a>
                                </div>
                            </div>
                        </div><div class="owl-item" style="width: 1263px;">
                            <div class="testimony-content container">
                                <p>
                                    "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum .

                                </p>
                                <p>
                                    John Grasin, CEO, IT-Planet
                                </p>
                                <div class="media-testimony">
                                    <a href="http://demo.minimalthemes.net/jobboard-static/index.html" target="blank"><i class="fa fa-twitter twit"></i></a>
                                    <a href="http://demo.minimalthemes.net/jobboard-static/index.html" target="blank"><i class="fa fa-linkedin linkedin"></i></a>
                                    <a href="http://demo.minimalthemes.net/jobboard-static/index.html" target="blank"><i class="fa fa-facebook fb"></i></a>
                                </div>
                            </div>
                        </div><div class="owl-item" style="width: 1263px;">
                            <div class="testimony-content container">
                                <p>
                                    "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum .

                                </p>
                                <p>
                                    John Grasin, CEO, IT-Planet
                                </p>
                                <div class="media-testimony">
                                    <a href="http://demo.minimalthemes.net/jobboard-static/index.html" target="blank"><i class="fa fa-twitter twit"></i></a>
                                    <a href="http://demo.minimalthemes.net/jobboard-static/index.html" target="blank"><i class="fa fa-linkedin linkedin"></i></a>
                                    <a href="http://demo.minimalthemes.net/jobboard-static/index.html" target="blank"><i class="fa fa-facebook fb"></i></a>
                                </div>
                            </div>
                        </div><div class="owl-item" style="width: 1263px;">
                            <div class="testimony-content container">
                                <p>
                                    "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum .

                                </p>
                                <p>
                                    John Grasin, CEO, IT-Planet
                                </p>
                                <div class="media-testimony">
                                    <a href="http://demo.minimalthemes.net/jobboard-static/index.html" target="blank"><i class="fa fa-twitter twit"></i></a>
                                    <a href="http://demo.minimalthemes.net/jobboard-static/index.html" target="blank"><i class="fa fa-linkedin linkedin"></i></a>
                                    <a href="http://demo.minimalthemes.net/jobboard-static/index.html" target="blank"><i class="fa fa-facebook fb"></i></a>
                                </div>
                            </div>
                        </div><div class="owl-item" style="width: 1263px;">
                            <div class="testimony-content container">
                                <p>
                                    "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia.

                                </p>
                                <p>
                                    John Grasin, CEO, IT-Planet
                                </p>
                                <div class="media-testimony">
                                    <a href="http://demo.minimalthemes.net/jobboard-static/index.html" target="blank"><i class="fa fa-twitter twit"></i></a>
                                    <a href="http://demo.minimalthemes.net/jobboard-static/index.html" target="blank"><i class="fa fa-linkedin linkedin"></i></a>
                                    <a href="http://demo.minimalthemes.net/jobboard-static/index.html" target="blank"><i class="fa fa-facebook fb"></i></a>
                                </div>
                            </div>
                        </div><div class="owl-item" style="width: 1263px;">
                            <div class="testimony-content container">
                                <p>
                                    "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate.

                                </p>
                                <p>
                                    John Grasin, CEO, IT-Planet
                                </p>
                                <div class="media-testimony">
                                    <a href="http://demo.minimalthemes.net/jobboard-static/index.html" target="blank"><i class="fa fa-twitter twit"></i></a>
                                    <a href="http://demo.minimalthemes.net/jobboard-static/index.html" target="blank"><i class="fa fa-linkedin linkedin"></i></a>
                                    <a href="http://demo.minimalthemes.net/jobboard-static/index.html" target="blank"><i class="fa fa-facebook fb"></i></a>
                                </div>
                            </div>
                        </div><div class="owl-item" style="width: 1263px;">
                            <div class="testimony-content container">
                                <p>
                                    "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum .

                                </p>
                                <p>
                                    John Grasin, CEO, IT-Planet
                                </p>
                                <div class="media-testimony">
                                    <a href="http://demo.minimalthemes.net/jobboard-static/index.html" target="blank"><i class="fa fa-twitter twit"></i></a>
                                    <a href="http://demo.minimalthemes.net/jobboard-static/index.html" target="blank"><i class="fa fa-linkedin linkedin"></i></a>
                                    <a href="http://demo.minimalthemes.net/jobboard-static/index.html" target="blank"><i class="fa fa-facebook fb"></i></a>
                                </div>
                            </div>
                        </div><div class="owl-item" style="width: 1263px;">
                            <div class="testimony-content container">
                                <p>
                                    "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum . At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum .

                                </p>
                                <p>
                                    John Grasin, CEO, IT-Planet
                                </p>
                                <div class="media-testimony">
                                    <a href="http://demo.minimalthemes.net/jobboard-static/index.html" target="blank"><i class="fa fa-twitter twit"></i></a>
                                    <a href="http://demo.minimalthemes.net/jobboard-static/index.html" target="blank"><i class="fa fa-linkedin linkedin"></i></a>
                                    <a href="http://demo.minimalthemes.net/jobboard-static/index.html" target="blank"><i class="fa fa-facebook fb"></i></a>
                                </div>
                            </div>
                        </div><div class="owl-item" style="width: 1263px;">
                            <div class="testimony-content container">
                                <p>
                                    "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.
                                </p>
                                <p>
                                    John Grasin, CEO, IT-Planet
                                </p>
                                <div class="media-testimony">
                                    <a href="http://demo.minimalthemes.net/jobboard-static/index.html" target="blank"><i class="fa fa-twitter twit"></i></a>
                                    <a href="http://demo.minimalthemes.net/jobboard-static/index.html" target="blank"><i class="fa fa-linkedin linkedin"></i></a>
                                    <a href="http://demo.minimalthemes.net/jobboard-static/index.html" target="blank"><i class="fa fa-facebook fb"></i></a>
                                </div>
                            </div>
                        </div><div class="owl-item" style="width: 1263px;">
                            <div class="testimony-content container">
                                <p>
                                    "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.

                                </p>
                                <p>
                                    John Grasin, CEO, IT-Planet
                                </p>
                                <div class="media-testimony">
                                    <a href="http://demo.minimalthemes.net/jobboard-static/index.html" target="blank"><i class="fa fa-twitter twit"></i></a>
                                    <a href="http://demo.minimalthemes.net/jobboard-static/index.html" target="blank"><i class="fa fa-linkedin linkedin"></i></a>
                                    <a href="http://demo.minimalthemes.net/jobboard-static/index.html" target="blank"><i class="fa fa-facebook fb"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>









            </div>
        </div>

        <div id="company-post">
            <div class="container">

                <h1>Companies Who Have Posted Jobs</h1>
                <p>
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.
                </p>

                <div id="company-post-list" class="owl-carousel company-post owl-theme" style="display: block; opacity: 1;">
                    <div class="owl-wrapper-outer">
                        <div class="owl-wrapper" style="width: 3900px; left: 0px; display: block; transition: all 800ms ease; transform: translate3d(-585px, 0px, 0px);">
                            <div class="owl-item" style="width: 195px;">
                                <div class="company">
                                    <img src="./Job Board_files/company-1.png" class="img-responsive" alt="company-post">
                                </div>
                            </div><div class="owl-item" style="width: 195px;">
                                <div class="company">
                                    <img src="./Job Board_files/company-2.png" class="img-responsive" alt="company-post">
                                </div>
                            </div><div class="owl-item" style="width: 195px;">
                                <div class="company">
                                    <img src="./Job Board_files/company-3.png" class="img-responsive" alt="company-post">
                                </div>
                            </div><div class="owl-item" style="width: 195px;">
                                <div class="company">
                                    <img src="./Job Board_files/company-4.png" class="img-responsive" alt="company-post">
                                </div>
                            </div><div class="owl-item" style="width: 195px;">
                                <div class="company">
                                    <img src="./Job Board_files/company-5.png" class="img-responsive" alt="company-post">
                                </div>
                            </div><div class="owl-item" style="width: 195px;">
                                <div class="company">
                                    <img src="./Job Board_files/company-1.png" class="img-responsive" alt="company-post">
                                </div>
                            </div><div class="owl-item" style="width: 195px;">
                                <div class="company">
                                    <img src="./Job Board_files/company-2.png" class="img-responsive" alt="company-post">
                                </div>
                            </div><div class="owl-item" style="width: 195px;">
                                <div class="company">
                                    <img src="./Job Board_files/company-3.png" class="img-responsive" alt="company-post">
                                </div>
                            </div><div class="owl-item" style="width: 195px;">
                                <div class="company">
                                    <img src="./Job Board_files/company-4.png" class="img-responsive" alt="company-post">
                                </div>
                            </div><div class="owl-item" style="width: 195px;">
                                <div class="company">
                                    <img src="./Job Board_files/company-5.png" class="img-responsive" alt="company-post">
                                </div>
                            </div>
                        </div>
                    </div>











                    <div class="owl-controls"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div></div>
                </div>
            </div>
        </div>

        <div id="footer">
            <!-- Footer -->
            <div class="container">
                <!-- Container -->
                <div class="row">
                    <div class="col-md-3 footer-widget">
                        <!-- Text Widget -->
                        <h6 class="widget-title">Saepe eveniet ut et voluptates</h6>
                        <div class="textwidget">
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>
                        </div>
                    </div><!-- Text Widget -->

                    <div class="col-md-2 footer-widget">
                        <!-- Footer Menu Widget -->
                        <h6 class="widget-title">Useful Links</h6>
                        <div class="footer-widget-nav">
                            <ul>
                                <li><a href="http://demo.minimalthemes.net/jobboard-static/index.html#">Home</a></li>
                                <li><a href="http://demo.minimalthemes.net/jobboard-static/index.html#">Post A Job</a></li>
                                <li><a href="http://demo.minimalthemes.net/jobboard-static/index.html#">Post A Resume</a></li>
                                <li><a href="http://demo.minimalthemes.net/jobboard-static/index.html#">Pricing</a></li>
                                <li><a href="http://demo.minimalthemes.net/jobboard-static/index.html#">Features</a></li>
                            </ul>
                        </div>
                    </div><!-- Footer Menu Widget -->

                    <div class="col-md-4 footer-widget">
                        <!-- Recent Tweet Widget -->
                        <h6 class="widget-title">Recent Tweets</h6>
                        <div class="recent-twitt">
                            <p>
                                Just released Lotus Flower, a Flexible Multi-Purpose Shop Theme <a href="http://demo.minimalthemes.net/jobboard-static/index.html">http://t.co/0dyw2cdli5</a>
                            </p>
                            <div class="hastag">#Themeforest #WordPress 04:29 AM Oct 31</div>
                            <p>
                                Just released Lotus Flower, a Flexible Multi-Purpose Shop Theme <a href="http://demo.minimalthemes.net/jobboard-static/index.html">http://t.co/0dyw2cdli5</a>
                            </p>
                            <div class="hastag">#Themeforest #WordPress 04:29 AM Oct 31</div>
                        </div>
                    </div><!-- Recent Tweet Widget -->
                    <div class="col-md-3 footer-widget">
                        <!-- News Leter Widget -->
                        <h6 class="widget-title">Singn For news Letter</h6>
                        <div class="textwidget">
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus</p>
                        </div>
                        <form role="form">
                            <div class="form-group">
                                <input type="email" class="input-newstler">
                            </div>
                            <button type="button" class="btn-newstler">Sign Up</button>
                        </form>
                        <a href="http://demo.minimalthemes.net/jobboard-static/index.html" target="blank"><i class="media-footer footer-twitt"></i></a>
                        <a href="http://demo.minimalthemes.net/jobboard-static/index.html" target="blank"><i class="media-footer footer-fb"></i></a>
                        <a href="http://demo.minimalthemes.net/jobboard-static/index.html" target="blank"><i class="media-footer footer-linkedin"></i></a>
                        <a href="http://demo.minimalthemes.net/jobboard-static/index.html" target="blank"><i class="media-footer footer-yahoo"></i></a>
                        <a href="http://demo.minimalthemes.net/jobboard-static/index.html" target="blank"><i class="media-footer footer-blog"></i></a>
                        <a href="http://demo.minimalthemes.net/jobboard-static/index.html" target="blank"><i class="media-footer footer-rss"></i></a>
                    </div><!-- News Leter Widget -->
                    <div class="clearfix"></div>
                </div>
                <div class="footer-credits">
                    <!-- Footer credits -->
                    2014 © <a href="http://themeforest.net/user/minimalthemes">Minimal Themes</a>. All Rights Reserved.
                </div><!-- Footer credits -->

            </div><!-- Container -->
        </div><!-- Footer -->

    </div><!-- end main wrapper -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="./Job Board_files/jquery.min.js.download"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="./Job Board_files/bootstrap.min.js.download"></script>
    <!-- Tabs -->
    <script src="./Job Board_files/jquery.easytabs.min.js.download" type="text/javascript"></script>
    <script src="./Job Board_files/modernizr.custom.49511.js.download"></script>
    <!-- Tabs -->
    <!-- Owl Carousel -->
    <script src="./Job Board_files/owl.carousel.js.download"></script>
    <!-- Owl Carousel -->
    <!-- Form Slider -->
    <script type="text/javascript" src="./Job Board_files/jshashtable-2.1_src.js.download"></script>
    <script type="text/javascript" src="./Job Board_files/jquery.numberformatter-1.2.3.js.download"></script>
    <script type="text/javascript" src="./Job Board_files/tmpl.js.download"></script>
    <script type="text/javascript" src="./Job Board_files/jquery.dependClass-0.1.js.download"></script>
    <script type="text/javascript" src="./Job Board_files/draggable-0.1.js.download"></script>
    <script type="text/javascript" src="./Job Board_files/jquery.slider.js.download"></script>
    <!-- Form Slider -->
    <!-- Map -->
    <script src="./Job Board_files/js"></script>
    <!-- Map -->
    <script src="./Job Board_files/job-board.js.download"></script>
</body>
</html>